<%- include('template/header',{tituloWeb:'pagina de servicios'}); %>

     <div class="container">
        <% if (arrayMascotas.length > 0) { %>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Accion</th>
                  </tr>
                </thead>
                <tbody>
                    <% arrayMascotas.forEach(mascota => { %>
                        <tr>
                            <th scope="row">1</th>
                            <td><%= mascota.id %></td>
                            <td><%= mascota.nombre %></td>
                            <td><%= mascota.descripcion %></td>
                          </tr>
                    <% }) %>
                 
                 
                </tbody>
              </table>
         </div>
        <% } %>
        
   
    
    
    
    
 <%- include('template/footer',{tituloWeb:'pagina de inicio'}); %>