<%- include('template/header',{tituloWeb:'pagina de servicios'}); %>

      <div class="container">
        <% if (arrayMascotas.length > 0 ) { %>
                <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                          </tr>
                        </thead>
                        <tbody>
                           <% arrayMascotas.forEach(mascota => { %>
                                <tr>
                                        <th scope="row">1</th>
                                        <td><%= mascota.id  %></td>
                                        <td><%= mascota.nombre  %></td>
                                        <td><%= mascota.descripcion %></td>
                                        
                                      </tr>
                           <% }) %>
                         
                        </tbody>
                      </table>
        <% } %>
         
      </div>
      
        
   
    
    
    
    
 <%- include('template/footer',{tituloWeb:'pagina de inicio'}); %>